p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.page-footer__logo {
  padding: 0;
  margin-bottom: 20px;
}

.logo__text--black {
  color: #000000;
}

.logo__text--white {
  color: #ffffff;
}

.btn {
  font-family: inherit;
  min-width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  background-color: #188ce8;
}

.btn--large {
  min-width: 216px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #212121;
}
.btn-close:hover .btn-close__icon, .btn-close:focus .btn-close__icon {
  color: #2196f3;
}

.btn-close__icon {
  fill: currentColor;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--grey {
  color: #afb1b8;
}
.social__link--grey:hover, .social__link--grey:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social__link--white {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
.social__link--white:hover, .social__link--white:focus {
  background-color: #2196f3;
}

.social__icon {
  fill: currentColor;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header__navigation {
  display: flex;
  align-items: center;
}

.page-header__logo {
  margin-right: 93px;
}

.page-header__site-contacts {
  margin-left: auto;
}

.site-nav {
  display: flex;
  gap: 50px;
}

.site-nav__link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover {
  color: #2196f3;
}

.site-nav__link--current {
  color: #2196f3;
}
.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.site-contacts {
  display: flex;
  gap: 30px;
}

.site-contacts__link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-contacts__link:hover, .site-contacts__link:focus {
  color: #2196f3;
  fill: currentColor;
}

.site-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.section-hero {
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/team-background.jpg);
  text-align: center;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-advantages {
  padding-top: 93px;
  padding-bottom: 47px;
}

.advantages__list {
  display: flex;
  gap: 30px;
}

.advantages__item {
  max-width: 270px;
}

.advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
}

.advantages__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-services {
  padding-top: 47px;
  padding-bottom: 93px;
}

.services__list {
  display: flex;
  gap: 30px;
}

.services__thumb {
  position: relative;
  width: 370px;
}

.services__img {
  display: block;
  width: 100%;
}

.services__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.section-team {
  padding-top: 93px;
  padding-bottom: 93px;
  background-color: #f5f4fa;
}

.team__item {
  flex-basis: calc(25% - 30px);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__thumb {
  width: 270px;
}

.team__img {
  display: block;
  width: 100%;
}

.team__wrapper {
  padding: 30px 0;
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-clients {
  padding-top: 93px;
  padding-bottom: 93px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.clients__item {
  flex-basis: 16.6666666667%;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.page-footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}

.page-footer__adress {
  flex-shrink: 0;
}

.page-footer__social {
  margin-left: 93px;
  flex-shrink: 0;
}

.page-footer__subscribe {
  margin-left: 93px;
  width: 100%;
}

.page-footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.site-address {
  font-style: normal;
}

.site-address__item {
  margin-bottom: 9px;
}
.site-address__item:last-child {
  margin-bottom: 0;
}

.site-address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-address__link:hover, .site-address__link:focus {
  color: #2196f3;
}

.site-address__link--darkened {
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe {
  display: flex;
}

.form-subscribe__field {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.form-subscribe__field .form-subscribe__input:not(:-moz-placeholder-shown) + .form-subscribe__label {
  transform: translate(-70px, -50%);
}
.form-subscribe__field .form-subscribe__input:not(:-ms-input-placeholder) + .form-subscribe__label {
  transform: translate(-70px, -50%);
}
.form-subscribe__field:focus-within > .form-subscribe__label,
.form-subscribe__field .form-subscribe__input:not(:placeholder-shown) + .form-subscribe__label {
  transform: translate(-70px, -50%);
}

.form-subscribe__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.form-subscribe__input:focus {
  outline: 1px solid #2196f3;
  border-color: transparent;
}

.form-subscribe__label {
  position: absolute;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-subscribe__btn {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.form-subscribe__icon {
  margin-left: 10px;
  fill: currentColor;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px 39px 40px 40px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__btn {
  margin-top: 30px;
}

.form-feedback {
  margin-top: 30px;
}

.form-feedback__field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}
.form-feedback__field:focus-within > .form-feedback__icon {
  fill: #2196f3;
}
.form-feedback__field:focus-within .form-feedback__input {
  outline: 1px solid transparent;
  border-color: #2196f3;
}
.form-feedback__field .form-feedback__input:not(:-moz-placeholder-shown) + .form-feedback__label {
  transform: translate(-40px, -40px);
}
.form-feedback__field .form-feedback__input:not(:-ms-input-placeholder) + .form-feedback__label {
  transform: translate(-40px, -40px);
}
.form-feedback__field:focus-within > .form-feedback__label,
.form-feedback__field .form-feedback__input:not(:placeholder-shown) + .form-feedback__label {
  transform: translate(-40px, -40px);
}

.form-feedback__input {
  width: 100%;
  height: 40px;
  padding: 11px 11px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-feedback__label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-feedback__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-feedback__message {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.form-feedback__message:focus-within .form-feedback__comment {
  transform: translate(-15px, -30px);
}
.form-feedback__message:focus-within ::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-feedback__message:focus-within :-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-feedback__message:focus-within ::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-feedback__message:focus-within > .form-feedback__textarea {
  outline: 1px solid transparent;
  border-color: #2196f3;
}

.form-feedback__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-feedback__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: transparent;
}
.form-feedback__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: transparent;
}
.form-feedback__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: transparent;
}
.form-feedback__textarea:not(:-moz-placeholder-shown) + .form-feedback__comment {
  transform: translate(-15px, -30px);
}
.form-feedback__textarea:not(:-ms-input-placeholder) + .form-feedback__comment {
  transform: translate(-15px, -30px);
}
.form-feedback__textarea:not(:placeholder-shown) + .form-feedback__comment {
  transform: translate(-15px, -30px);
}

.form-feedback__comment {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-checkbox__icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
}

.form-checkbox__input:checked + .form-checkbox__label .form-checkbox__icon-wrapper {
  background-color: #2196f3;
  fill: #ffffff;
  border-color: transparent;
}

.form-checkbox__input:focus + .form-checkbox__label .form-checkbox__icon-wrapper {
  border-color: #2196f3;
}

.form-checkbox__link {
  margin-left: 5px;
  text-decoration: underline;
  color: #2196f3;
}

.section-portfolio {
  padding-top: 93px;
  padding-bottom: 93px;
}

.portfolio__list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #f5f4fa;
  border-color: transparent;
  border-radius: 4px;
  transition: color 250ms 250ms, background-color 250ms 250ms, box-shadow 250ms 250ms;
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__sublist {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__sublist-item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-thumb {
  width: 370px;
}

.portfolio__img {
  display: block;
  width: 100%;
}

.portfolio__top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.portfolio__link {
  display: block;
  transition: box-shadow var(--transition-duration) var(--transition-timing);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio__top-text, .portfolio__link:focus .portfolio__top-text {
  transform: translateY(0);
}

.portfolio__sublist-wrapper {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio__subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */