.page-header {
  border-bottom: 1px solid $header-border-color;
  margin-bottom: -1px;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header__navigation {
  display: flex;
  align-items: center;
}

.page-header__site-contacts {
  margin-left: auto;
}
